<!DOCTYPE html>
<html>
<head>
	<title>Campus Coins - Login</title>
</head>
<body>
	<div class="container">
		{% include 'includes/_messages.html' %}
		<form action="" method="POST">
			<div class="form-group">
				<div class="form-label-group">
					<label for="inputUsername">Username</label>
					<input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus" value={{request.form.username}}>
				</div>
			</div>
			<br>
			<br><div class="form-group">
				<div class="form-label-group">
					<label for="inputPassword">Password</label>
					<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required" autofocus="autofocus" value={{request.form.password}}>
				</div>
			</div>
			<br>
			<br><button type="submit" class="btn btn-primary btn-block">Login</button>
		</form>
	</div>
</body>
</html>